
	<div class="row border rounded m-3">
		<div class="col-10">
			<p class="h6 font-weight-bold"><%= source.title %></p>			
			<span style="font-size: 12px;"><%= source.url %></span>			
		</div>
	</div>