<div class="container">
	<div class="row mt-4 border-bottom pb-4">
		<div class="col-6">
			<%= cl_image_tag current_user.user_avatar, height: 300, width: 300, crop: :fill, gravity: :faces, class: "profile-pic rounded-lg" %>
		</div>
		<div class="col-6">
			<p><%= @user.nickname %></p>
			<p>N° Collections:  <%= @user.collections.count %></p>
			<p>Followers: </p>
		</div>
	</div>
</div>