.footer {
	position: fixed;
	height: 60px;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding-top: 0;

}

.menu-btn {
	text-decoration: none;
	border: none;
	background: none;
	transition: 0.2s ease;
	&:hover {

		&:active{
			transform: scale(1.2);
		}
	}
}

.menu-btn i {
	color: gray;
	font-size: 30px;
}

.menu-btn svg {
	color: gray;
	height: 30px;
	width: 30px;

}

.btn-padding {
	padding: 15px;
	border-radius: 50%;
	&:hover {

		&:active{
			background-color: white;
			box-shadow: 0 0 20px rgba(0,0,0,0.3);
		}
	}
}